In [6]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

data = pd.read_csv('powerup_data_aug18.csv')
data.drop('Unnamed: 0', axis=1, inplace=True)

In [7]:
x = data[-5:]

In [12]:
x.iloc[0]['Teams']

'Oak, TB'

In [8]:
for player in range(0, 5):
    teams = x.iloc[player]['Teams'].split(',')
    for team in teams:
        data.set_value(player+161, team.strip(), 1)

In [13]:
data.fillna(0, inplace=True)
data.drop('numTeams', axis=1, inplace=True)

In [14]:
numeric_data = data.select_dtypes(include=['int64', 'float64']).drop('OVR', axis=1)

data['numTeams'] = numeric_data.sum(axis=1)

In [16]:
data.to_csv('powerup_data_aug18.csv')

In [19]:
data[ data['Name'] == 'Golden Tate III']

,Name,OVR,POS,PS4,firstName,lastName,POS2,Player,Pos,College,...,Phi,Pit,SF,Sea,TB,Ten,Was,RAMS,CHARGERS,numTeams
139,Golden Tate III,68,WR,"1,300",Golden,Tate III,WR,"Tate III, Golden",0,0,...,0,0,0,1,0,0,0,0,0,2