In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

paths = ['player_list_oct13.csv', 'mut_pu_data_oct13.csv', 'mut_data_oct13.csv', 
         '/Users/mattjohnson/Desktop/Python2018/MUT/MUT19-PowerUp-Team-Analysis/csv/powerup_sep17.csv']

df_list = []
for p in paths:
    df_list.append(pd.read_csv(p,index_col=0).reset_index(drop=True))

In [2]:
finished_player_set = set(df_list[-1]['Player'].values)
newly_finished_set = set(df_list[0]['Player'].values)

In [3]:
newly_finished_set.difference(finished_player_set)

{'Allen, Larry',
 'Barber, Ronde',
 'Carr, Derek',
 'Dawkins, Brian',
 'Dawson, Dermontti',
 'George, Eddie',
 'Gonzalez, Tony',
 'Greene, Kevin',
 "Hightower, Dont'a",
 'Lewis, Ray',
 'Mahomes, Patrick',
 'Marino, Dan',
 'McNabb, Donovan',
 'Ogden, Jonathan',
 'Owens, Terrell',
 'Randle, John',
 'Reed, Ed',
 'Rice, Jerry',
 'Sanders, Barry',
 'Sanders, Deion',
 'Sharpe, Shannon',
 'Shazier, Ryan',
 'Strahan, Michael',
 'Taylor, Lawrence',
 'Urlacher, Brian',
 'Williams, Aeneas',
 'Woodson, Rod'}

In [4]:
new_df = df_list[0].copy()

df2 = pd.DataFrame(new_df['Player'].str.split(','))
new_df.loc[:, 'firstName'] = df2.Player.map(lambda x: x[1])
new_df.loc[:, 'lastName'] = df2.Player.map(lambda x: ''.join(x[0]))

new_df['Name'] = new_df['firstName'] + ' ' + new_df['lastName']

In [5]:
new_df.head()

,Player,Pos,College,Teams,firstName,lastName,Name
0,"Reed, Ed",DB,Miami,"2002-2012 Bal, 2013 Hou, 2013 NYJ",Ed,Reed,Ed Reed
1,"Barber, Ronde",DB,Virginia,1997-2012 TB,Ronde,Barber,Ronde Barber
2,"Dawson, Dermontti",C,Kentucky,1988-2000 Pit,Dermontti,Dawson,Dermontti Dawson
3,"George, Eddie",RB,Ohio State,"1996 Hou, 1997-2003 Ten, 2004 Dal",Eddie,George,Eddie George
4,"Greene, Kevin",LB,Auburn,"1985-1992 LA, 1993-1995 Pit, 1996 Car, 1997 SF...",Kevin,Greene,Kevin Greene

In [6]:
import re

In [7]:
new_df

,Player,Pos,College,Teams,firstName,lastName,Name
0,"Reed, Ed",DB,Miami,"2002-2012 Bal, 2013 Hou, 2013 NYJ",Ed,Reed,Ed Reed
1,"Barber, Ronde",DB,Virginia,1997-2012 TB,Ronde,Barber,Ronde Barber
2,"Dawson, Dermontti",C,Kentucky,1988-2000 Pit,Dermontti,Dawson,Dermontti Dawson
3,"George, Eddie",RB,Ohio State,"1996 Hou, 1997-2003 Ten, 2004 Dal",Eddie,George,Eddie George
4,"Greene, Kevin",LB,Auburn,"1985-1992 LA, 1993-1995 Pit, 1996 Car, 1997 SF...",Kevin,Greene,Kevin Greene
5,"McNabb, Donovan",QB,Syracuse,"1999-2009 Phi, 2010 Was, 2011 Min",Donovan,McNabb,Donovan McNabb
6,"Ogden, Jonathan",OT,UCLA,1996-2007 Bal,Jonathan,Ogden,Jonathan Ogden
7,"Sanders, Deion",DB,Florida State,"1989-1993 Atl, 1994 SF, 1995-1999 Dal, 2000 Wa...",Deion,Sanders,Deion Sanders
8,"Taylor, Lawrence",LB,North Carolina,1981-1993 NYG,Lawrence,Taylor,Lawrence Taylor
9,"Allen, Larry",OG,Sonoma State,"1994-2005 Dal, 2006-2007 SF",Larry,Allen,Larry Allen
10,"Dawkins, Brian",DB,Clemson,"1996-2008 Phi, 2009-2011 Den",Brian,Dawkins,Brian Dawkins
11,"Gonzalez, Tony",TE,California,"1997-2008 KC, 2009-2013 Atl",Tony,Gonzalez,Tony Gonzalez
12,"Randle, John",DE,Texas A&M-Kingsville,"1990-2000 Min, 2001-2003 Sea",John,Randle,John Randle
13,"Sanders, Barry",RB,Oklahoma State,1989-1998 Det,Barry,Sanders,Barry Sanders
14,"Williams, Aeneas",DB,Southern,"1991-1993 Pho, 1994-2000 Ari, 2001-2004 Stl",Aeneas,Williams,Aeneas Williams
15,"Carr, Derek",QB,Fresno State,2014-2018 Oak,Derek,Carr,Derek Carr
16,"Hightower, Dont'a",LB,Alabama,2012-2018 NE,Dont'a,Hightower,Dont'a Hightower
17,"Mahomes, Patrick",QB,Texas Tech,2017-2018 KC,Patrick,Mahomes,Patrick Mahomes
18,"Marino, Dan",QB,Pittsburgh,1983-1999 Mia,Dan,Marino,Dan Marino
19,"Owens, Terrell",WR,Tennessee-Chattanooga,"1996-2003 SF, 2004-2005 Phi, 2006-2008 Dal, 20...",Terrell,Owens,Terrell Owens
20,"Urlacher, Brian",LB,New Mexico,2000-2012 Chi,Brian,Urlacher,Brian Urlacher
21,"Woodson, Rod",DB,Purdue,"1987-1996 Pit, 1997 SF, 1998-2001 Bal, 2002-20...",Rod,Woodson,Rod Woodson
22,"Shazier, Ryan",LB,Ohio State,2014-2017 Pit,Ryan,Shazier,Ryan Shazier
23,"Lewis, Ray",LB,Miami,1996-2012 Bal,Ray,Lewis,Ray Lewis
24,"Rice, Jerry",WR,Mississippi Valley State,"1985-2000 SF, 2001-2004 Oak, 2004 Sea",Jerry,Rice,Jerry Rice
25,"Sharpe, Shannon",TE,Savannah State,"1990-1999 Den, 2000-2001 Bal, 2002-2003 Den",Shannon,Sharpe,Shannon Sharpe
26,"Strahan, Michael",DE,Texas Southern,1993-2007 NYG,Michael,Strahan,Michael Strahan

In [8]:
def parse_teams(df):
    team_s = df['Teams'].copy()
    temp = team_s.str.split(',')
    return temp
    #x = re.findall(r'\d{4}-\d{4}', temp.str)
    #print(x)

In [9]:
tmp = parse_teams(new_df)

In [10]:
class Player:
    def __init__(team_list):
        self.teams = team_dict

In [12]:
#p = new Player()

SyntaxError: invalid syntax (<ipython-input-12-35f456e2489d>, line 1)

In [13]:
temp_list = []
temp_list2 = []

for _, name in zip(tmp.values, new_df['Name'].values):
    p = []
    temp_ = []
    
    for i, s in enumerate(_):
        #x = re.findall(r'\d{4}-\d{4}', s)
        y = re.findall(r'\d{4}', s)
        if len(y) == 1: # single year
            y.append(y[0])
        z = re.findall(r'\b[^\W\d_]+\b', s)
        #print(x)
        #print(y)
        #print(z)
        
        temp_.append(pd.DataFrame({'Team': z[0], 'Year0': y[0], 'yearN': y[1] }, index=[0]))
        
        p.append({z[0] : y})
    
    temp_list2.append(p)
    temp_list.append(temp_)

In [15]:
temp_list2[0]

[{'Bal': ['2002', '2012']},
 {'Hou': ['2013', '2013']},
 {'NYJ': ['2013', '2013']}]

In [16]:
def team_checker(team_dict):
    teams_list = []
    
    for _ in team_dict:
        if ( (_=='LA') & ( (int(team_dict.get(_)[0]) <= 1994) | (int(team_dict.get(_)[0]) >= 2015))): # Rams
            #print('# RAMS')
            teams_list.append('RAMS')
            
        elif (_=='Bal'):
            if int(team_dict.get(_)[0]) <= 1995: # Ravens
                #print('# Colts')
                teams_list.append('Ind')
            else:
                #print('# Ravens')
                teams_list.append('Bal')
        
        elif (_=='Hous'):
            if int(team_dict.get(_)[0]) <= 1996: # Ravens
                #print('# Oilers (Titans)')
                teams_list.append('Ten')
            else:
                #print('# Texans')
                teams_list.append('Hou')

        elif (_=='Pho'):
            #print('# Ari')
            teams_list.append('Ari')
            
        else: 
            teams_list.append(_)
        
    return teams_list[0]

In [17]:
td = {'LA':[1990,1994], 'Bal': [2005,2010]}

In [19]:
#print( type(temp_list2[0][0]))
names = new_df['Name'].values

p_dict = {}
for name, thing in zip(names, temp_list2):
    team_list = []
    for _ in thing:
        #print(_)
        team_list.append(team_checker(_))
    p_dict.update({name.strip(): '|'.join(team_list)})

In [20]:
new_df['Name'] = new_df['Name'].str.strip()

new_df['teams'] = new_df['Name'].map(p_dict)

In [21]:
new_big_df = pd.concat( [new_df, new_df['teams'].str.get_dummies()], axis=1)

In [22]:
new_big_df.shape

(27, 35)

In [23]:
old_df = df_list[-1].copy()

for _ in ['Ari', 'Atl', 'Bal', 'Buf', 'Car', 'Chi',
       'Cin', 'Cle', 'Dal', 'Den', 'Det', 'GB', 'Hou', 'Ind', 'Jax', 'KC',
       'Mia', 'Min', 'NE', 'NO', 'NYG', 'NYJ', 'Oak', 'Phi', 'Pit', 'SF',
       'Sea', 'TB', 'Ten', 'Was', 'RAMS', 'CHARGERS', 'numTeams']:
    old_df[_] = old_df[_].astype(int)

In [24]:
old_df

,Name,OVR,POS,PS4,firstName,lastName,POS2,Player,Pos,College,...,Phi,Pit,SF,Sea,TB,Ten,Was,RAMS,CHARGERS,numTeams
0,Champ Bailey,73.0,CB,"2,000",Champ,Bailey,DB,"Bailey, Champ",DB,Georgia,...,0,0,0,0,0,0,1,0,0,2
1,Randy Moss,73.0,WR,"3,400",Randy,Moss,WR,"Moss, Randy",WR,Marshall,...,0,0,1,0,0,1,0,0,0,6
2,Michael Vick,73.0,QB,"4,100",Michael,Vick,QB,"Vick, Michael",QB,Virginia Tech,...,1,1,0,0,0,0,0,0,0,4
3,Reggie White,73.0,LE,"1,900",Reggie,White,DE,"White, Reggie",DE,Tennessee,...,1,0,0,0,0,0,0,0,0,3
4,Derrick Brooks,72.0,ROLB,"2,800",Derrick,Brooks,LB,"Brooks, Derrick",LB,Florida State,...,0,0,0,0,1,0,0,0,0,1
5,Ted Hendricks,72.0,LOLB,"1,800",Ted,Hendricks,LB,"Hendricks, Ted",LB,Miami,...,0,0,0,0,0,0,0,0,0,3
6,Steve Hutchinson,72.0,LG,"2,600",Steve,Hutchinson,OG,"Hutchinson, Steve",OG,Michigan,...,0,0,0,1,0,1,0,0,0,3
7,Lorenzo Neal,72.0,FB,"4,000",Lorenzo,Neal,RB,"Neal, Lorenzo",RB,Fresno State,...,0,0,0,0,1,1,0,0,1,7
8,Willie Roaf,72.0,LT,"1,500",Willie,Roaf,OT,"Roaf, Willie",OT,Louisiana Tech,...,0,0,0,0,0,0,0,0,0,2
9,Bruce Smith,72.0,RE,"2,200",Bruce,Smith,DE,"Smith, Bruce",DE,Virginia Tech,...,0,0,0,0,0,0,1,0,0,2
10,Sean Taylor,72.0,FS,"3,400",Sean,Taylor,DB,"Taylor, Sean",DB,Miami,...,0,0,0,0,0,0,1,0,0,1
11,Steve Young,72.0,QB,"1,700",Steve,Young,QB,"Young, Steve",QB,Brigham Young,...,0,0,1,0,1,0,0,0,0,2
12,Davante Adams,68.0,WR,950,Davante,Adams,WR,"Adams, Davante",WR,Fresno State,...,0,0,0,0,0,0,0,0,0,1
13,Jamal Adams,68.0,SS,"2,600",Jamal,Adams,DB,"Adams, Jamal",DB,Louisiana State,...,0,0,0,0,0,0,0,0,0,1
14,Keenan Allen,68.0,WR,"1,300",Keenan,Allen,WR,"Allen, Keenan",WR,California,...,0,0,0,0,0,0,0,0,1,1
15,Adrian Amos,68.0,SS,"9,000",Adrian,Amos,DB,"Amos, Adrian",DB,Penn State,...,0,0,0,0,0,0,0,0,0,1
16,David Andrews,68.0,C,"2,200",David,Andrews,C,"Andrews, David",C,Georgia,...,0,0,0,0,0,0,0,0,0,1
17,Geno Atkins,68.0,DT,"2,700",Geno,Atkins,DT,"Atkins, Geno",DT,Georgia,...,0,0,0,0,0,0,0,0,0,1
18,David Bakhtiari,68.0,LT,"1,500",David,Bakhtiari,OT,"Bakhtiari, David",OT,Colorado,...,0,0,0,0,0,0,0,0,0,1
19,Doug Baldwin,68.0,WR,"1,600",Doug,Baldwin,WR,"Baldwin, Doug",WR,Stanford,...,0,0,0,1,0,0,0,0,0,1
20,Anthony Barr,68.0,ROLB,"6,400",Anthony,Barr,LB,"Barr, Anthony",LB,UCLA,...,0,0,0,0,0,0,0,0,0,1
21,Odell Beckham Jr,68.0,WR,"2,500",Odell,Beckham Jr,WR,"Beckham Jr, Odell",0,0,...,0,0,0,0,0,0,0,0,0,1
22,Le'Veon Bell,68.0,HB,"3,000",Le'Veon,Bell,RB,"Bell, Le'Veon",RB,Michigan State,...,0,1,0,0,0,0,0,0,0,1
23,Eric Berry,68.0,SS,"4,900",Eric,Berry,DB,"Berry, Eric",DB,Tennessee,...,0,0,0,0,0,0,0,0,0,1
24,Joel Bitonio,68.0,LG,"8,500",Joel,Bitonio,OG,"Bitonio, Joel",OT,Nevada,...,0,0,0,0,0,0,0,0,0,1
25,Joey Bosa,68.0,LE,"5,500",Joey,Bosa,DE,"Bosa, Joey",DE,Ohio State,...,0,0,0,0,0,0,0,0,1,1
26,A.J. Bouye,68.0,CB,"3,000",A.J.,Bouye,DB,"Bouye, A.J.",DB,Central Florida,...,0,0,0,0,0,0,0,0,0,2
27,Nigel Bradham,68.0,LOLB,"2,300",Nigel,Bradham,LB,"Bradham, Nigel",LB,Florida State,...,1,0,0,0,0,0,0,0,0,2
28,Tom Brady,68.0,QB,"2,000",Tom,Brady,QB,"Brady, Tom",QB,Michigan,...,0,0,0,0,0,0,0,0,0,1
29,Drew Brees,68.0,QB,"1,400",Drew,Brees,QB,"Brees, Drew",QB,Purdue,...,0,0,0,0,0,0,0,0,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,Danny Trevathan,68.0,MLB,"1,300",Danny,Trevathan,LB,"Trevathan, Danny",LB,Kentucky,...,0,0,0,0,0,0,0,0,0,2
145,Desmond Trufant,68.0,CB,"1,500",Desmond,Trufant,DB,"Trufant, Desmond",DB,Washington,...,0,0,0,0,0,0,0,0,0,1
146,Bobby Wagner,68.0,MLB,"2,900",Bobby,Wagner,LB,"Wagner, Bobby",LB,Utah State,...,0,0,0,1,0,0,0,0,0,1
147,Delanie Walker,68.0,TE,"1,200",Delanie,Walker,TE,"Walker, Delanie",TE,Central Missouri State,...,0,0,1,0,0,1,0,0,0,2
148,J.J. Watt,68.0,LE,"1,500",J.J.,Watt,DE,"Watt, J.J.",DE,Wisconsin,...,0,0,0,0,0,0,0,0,0,1
149,Carson Wentz,68.0,QB,12.0K,Carson,Wentz,QB,"Wentz, Carson",QB,North Dakota State,...,1,0,0,0,0,0,0,0,0,1
150,Daryl Williams,68.0,RT,"3,000",Daryl,Williams,OT,"Williams, Daryl",OT,Oklahoma,...,0,0,0,0,0,0,0,0,0,1
151,Trent Williams,68.0,LT,"1,300",Trent,Williams,OT,"Williams, Trent",0,0,...,0,0,0,0,0,0,1,0,0,1
152,Russell Wilson,68.0,QB,"2,900",Russell,Wilson,QB,"Wilson, Russell",QB,Wisconsin,...,0,0,0,1,0,0,0,0,0,1
153,Marshal Yanda,68.0,RG,"2,300",Marshal,Yanda,OG,"Yanda, Marshal",OG,Iowa,...,0,0,0,0,0,0,0,0,0,1
154,Kevin Zeitler,68.0,RG,"2,000",Kevin,Zeitler,OG,"Zeitler, Kevin",OG,Wisconsin,...,0,0,0,0,0,0,0,0,0,2
155,Terrell Davis,0.0,RB,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
156,Dan Marino,0.0,QB,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
157,Terrell Owens,0.0,WR,0,0,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,5
158,Brian Urlacher,0.0,MLB,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
159,Rod Woodson,0.0,CB,0,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,4
160,Demarcus Ware,0.0,ROLB,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
161,Tim Brown,0.0,WR,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,2
162,Ray Lewis,0.0,MLB,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
163,Jerry Rice,0.0,WR,0,0,0,0,0,0,0,...,0,0,1,1,0,0,0,0,0,3
164,Shannon Sharpe,0.0,TE,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
165,Michael Strahan,0.0,LE,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
166,Aeneas Williams,0.0,CB,0,0,0,DB,0,0,0,...,0,0,0,0,0,0,0,1,0,0
167,Tony Gonzalez,0.0,TE,0,0,0,TE,0,0,0,...,0,0,0,0,0,0,0,0,0,0
168,Barry Sanders,0.0,RB,0,0,0,RB,0,0,0,...,0,0,0,0,0,0,0,0,0,0
169,Brian Dawkins,0.0,FS,0,0,0,DB,0,0,0,...,1,0,0,0,0,0,0,0,0,0
170,Eddie George,0.0,RB,0,0,0,RB,0,0,0,...,0,0,0,0,0,1,0,0,0,0
171,Lawrence Taylor,0.0,ROLB,0,0,0,LB,0,0,0,...,0,0,0,0,0,0,0,0,0,0
172,Larry Allen,0.0,RG,0,0,0,OG,0,0,0,...,0,0,0,0,0,0,0,0,0,0
173,John Randle,0.0,DT,0,0,0,DT,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [25]:
new_big_df.fillna(0).drop(['Teams', 'teams', 'College', 'firstName', 'lastName'], axis=1).head()
new_df2 = new_big_df[['Name', 'Pos', 'teams']]

In [26]:
#old_df.drop(['OVR', 'PS4', 'College'], axis=1).head()
old_df2 = old_df[['Name', 'Pos', 'Teams']]

In [27]:
old_df3 = pd.concat( [old_df2, old_df2['Teams'].str.get_dummies()], axis=1)

In [28]:
old_df2.head()

             Name Pos                  Teams
0    Champ Bailey  DB                Was,Den
1      Randy Moss  WR  Min,Oak,NE,Min,Ten,SF
2    Michael Vick  QB        Atl,Phi,NYJ,Pit
3    Reggie White  DE             Phi,GB,Car
4  Derrick Brooks  LB                     TB

In [29]:
old_df2['Teams'] = old_df2['Teams'].str.replace(',', '|')
new_df2.columns = ['Name', 'Pos', 'Teams']

In [30]:
new_df2.head()

               Name Pos                Teams
0           Ed Reed  DB          Bal|Hou|NYJ
1      Ronde Barber  DB                   TB
2  Dermontti Dawson   C                  Pit
3      Eddie George  RB          Hou|Ten|Dal
4      Kevin Greene  LB  RAMS|Pit|Car|SF|Car

In [31]:
all_df = pd.concat([old_df2, new_df2])
dum_df = pd.concat( [all_df.drop('Teams', axis=1), all_df['Teams'].str.get_dummies()], axis=1)

In [32]:
dum_df.drop('NFLEHam', axis=1, inplace=True)

In [33]:
len(set(dum_df['Name'].values))

185

In [34]:
len(list(dum_df['Name'].values))

201

In [35]:
all_df[ all_df['Teams'] != '0'].reset_index(drop=True)

                 Name Pos                     Teams
0        Champ Bailey  DB                   Was|Den
1          Randy Moss  WR     Min|Oak|NE|Min|Ten|SF
2        Michael Vick  QB           Atl|Phi|NYJ|Pit
3        Reggie White  DE                Phi|GB|Car
4      Derrick Brooks  LB                        TB
5       Ted Hendricks  LB            Bal|GB|Oak|LAR
6    Steve Hutchinson  OG               Sea|Min|Ten
7        Lorenzo Neal  RB  NO|NYJ|TB|Ten|Cin|SD|Bal
8         Willie Roaf  OT                     NO|KC
9         Bruce Smith  DE                   Buf|Was
10        Sean Taylor  DB                       Was
11        Steve Young  QB                     TB|SF
12      Davante Adams  WR                        GB
13        Jamal Adams  DB                       NYJ
14       Keenan Allen  WR                    SD|LAC
15        Adrian Amos  DB                       Chi
16      David Andrews   C                        NE
17        Geno Atkins  DT                       Cin
18    David Bakhtiari  OT                        GB
19       Doug Baldwin  WR                       Sea
20       Anthony Barr  LB                       Min
21       Le'Veon Bell  RB                       Pit
22         Eric Berry  DB                        KC
23       Joel Bitonio  OT                       Cle
24          Joey Bosa  DE                    SD|LAC
25         A.J. Bouye  DB                   Hou|Jax
26      Nigel Bradham  LB                   Buf|Phi
27          Tom Brady  QB                        NE
28         Drew Brees  QB                     SD|NO
29      Antonio Brown  WR                       Pit
..                ...  ..                       ...
148        Jerry Rice   0              SF| Oak| Sea
149    Shannon Sharpe   0                  Den| Bal
150   Michael Strahan   0                       NYG
151           Ed Reed  DB               Bal|Hou|NYJ
152      Ronde Barber  DB                        TB
153  Dermontti Dawson   C                       Pit
154      Eddie George  RB               Hou|Ten|Dal
155      Kevin Greene  LB       RAMS|Pit|Car|SF|Car
156    Donovan McNabb  QB               Phi|Was|Min
157    Jonathan Ogden  OT                       Bal
158     Deion Sanders  DB        Atl|SF|Dal|Was|Bal
159   Lawrence Taylor  LB                       NYG
160       Larry Allen  OG                    Dal|SF
161     Brian Dawkins  DB                   Phi|Den
162     Tony Gonzalez  TE                    KC|Atl
163       John Randle  DE                   Min|Sea
164     Barry Sanders  RB                       Det
165   Aeneas Williams  DB               Ari|Ari|Stl
166        Derek Carr  QB                       Oak
167  Dont'a Hightower  LB                        NE
168   Patrick Mahomes  QB                        KC
169        Dan Marino  QB                       Mia
170     Terrell Owens  WR        SF|Phi|Dal|Buf|Cin
171    Brian Urlacher  LB                       Chi
172       Rod Woodson  DB            Pit|SF|Bal|Oak
173      Ryan Shazier  LB                       Pit
174         Ray Lewis  LB                       Bal
175        Jerry Rice  WR                SF|Oak|Sea
176    Shannon Sharpe  TE               Den|Bal|Den
177   Michael Strahan  DE                       NYG

[178 rows x 3 columns]

In [37]:
zero_names = all_df[ all_df['Teams'] == '0'].reset_index(drop=True)['Name'].values

In [55]:
x = all_df[ all_df['Name'].isin(zero_names)]
have_these = x[ x['Teams'] != '0']['Name'].values

xx = all_df[ ~all_df['Name'].isin(have_these)]

In [65]:
haveSet = set(have_these)
zeroSet = set(zero_names)

In [62]:
df1 = all_df[ all_df['Teams'] != '0']
df1.shape

(178, 3)

In [67]:
missingSet = zeroSet.difference(haveSet)

In [68]:
dfSet = set(df1['Name'].values)
missingSet.difference(dfSet)

{'Chris Harris Jr',
 'Damon Harrison Sr',
 'Darius Slay Jr',
 'Earl Thomas III',
 'Golden Tate III',
 'Jimmy Smith',
 'Lane Johnson',
 'Odell Beckham Jr',
 'Reshad Jones',
 'Telvin Smith',
 'Todd Gurley II',
 'Trent Williams',
 'Trumaine Johnson',
 'Tyron Smith',
 'Zach Brown'}

In [171]:
#dummy_df.reset_index(drop=True, inplace=True)

missing = list(missingSet)
missing_dict = {'Reshad Jones': 'Mia',
 'Darius Slay Jr': 'Det',
 'Telvin Smith': 'Jax',
 'Tyron Smith': 'Dal',
 'Earl Thomas III': 'Sea',
 'Todd Gurley II': 'LAR',
 'Jimmy Smith': 'Bal',
 'Trumaine Johnson': 'LAR|NYJ',
 'Lane Johnson': 'Phi',
 'Chris Harris Jr': 'Den',
 'Trent Williams': 'Was',
 'Golden Tate III': 'Sea|Det',
 'Damon Harrison Sr': 'NYJ|NYG',
 'Odell Beckham Jr': 'NYG',
 'Zach Brown':'Was'}

missing_pdict = {'Reshad Jones': 'DB',
 'Darius Slay Jr': 'DB',
 'Telvin Smith': 'LB',
 'Tyron Smith': 'OT',
 'Earl Thomas III': 'DB',
 'Todd Gurley II': 'RB',
 'Jimmy Smith': 'DB',
 'Trumaine Johnson': 'DB',
 'Lane Johnson': 'OT',
 'Chris Harris Jr': 'DB',
 'Trent Williams': 'OT',
 'Golden Tate III': 'WR',
 'Damon Harrison Sr': 'DT',
 'Odell Beckham Jr': 'WR',
 'Zach Brown':'LB'}

missing_df = all_df[ all_df['Name'].isin(missingSet.difference(dfSet))]
missing_df['Name2'] = missing_df['Name'].str.split()#.str[0:2]
missing_df['Name2'] = missing_df['Name2'].map(lambda x: ' '.join(x))
missing_df['Teams'] = missing_df['Name2'].map(missing_dict)
missing_df['Pos'] = missing_df['Name2'].map(missing_pdict)

In [172]:
missing_df.reset_index(drop=True, inplace=True)
missing_df.drop('Name2', axis=1, inplace=True)

In [173]:
df1.reset_index(drop=True, inplace=True)

In [198]:
dfm = pd.concat([df1, missing_df])

In [199]:
dfm['Teams'] = dfm['Teams'].str.replace(" ", "")
dfm['Teams'] = dfm['Teams'].str.replace("SD", "LAC")
dfm['Teams'] = dfm['Teams'].str.replace("RAMS", "LAR")
dfm['Teams'] = dfm['Teams'].str.replace("Stl", "LAR")

dummy_df = pd.concat( [dfm, dfm['Teams'].str.get_dummies()], axis=1)
dummy_df.drop('NFLEHam', axis=1, inplace=True)

dummy_df.reset_index(drop=True, inplace=True)

In [190]:
'''df1['Teams'] = df1['Teams'].str.replace(" ", "")
df1['Teams'] = df1['Teams'].str.replace("SD", "LAC")
df1['Teams'] = df1['Teams'].str.replace("RAMS", "LAR")
df1['Teams'] = df1['Teams'].str.replace("Stl", "LAR")

dummy_df = pd.concat( [df1, df1['Teams'].str.get_dummies()], axis=1)
dummy_df.drop('NFLEHam', axis=1, inplace=True)

dummy_df.reset_index(drop=True, inplace=True)
'''

'df1[\'Teams\'] = df1[\'Teams\'].str.replace(" ", "")\ndf1[\'Teams\'] = df1[\'Teams\'].str.replace("SD", "LAC")\ndf1[\'Teams\'] = df1[\'Teams\'].str.replace("RAMS", "LAR")\ndf1[\'Teams\'] = df1[\'Teams\'].str.replace("Stl", "LAR")\n\ndummy_df = pd.concat( [df1, df1[\'Teams\'].str.get_dummies()], axis=1)\ndummy_df.drop(\'NFLEHam\', axis=1, inplace=True)\n\ndummy_df.reset_index(drop=True, inplace=True)\n'

In [200]:
dummy_df.head()

,Name,Pos,Teams,Ari,Atl,Bal,Buf,Car,Chi,Cin,...,NYG,NYJ,Oak,Phi,Pit,SF,Sea,TB,Ten,Was
0,Champ Bailey,DB,Was|Den,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,Randy Moss,WR,Min|Oak|NE|Min|Ten|SF,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,1,0
2,Michael Vick,QB,Atl|Phi|NYJ|Pit,0,1,0,0,0,0,0,...,0,1,0,1,1,0,0,0,0,0
3,Reggie White,DE,Phi|GB|Car,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
4,Derrick Brooks,LB,TB,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [192]:
dummy_df.columns

Index(['Name', 'Pos', 'Teams', 'Ari', 'Atl', 'Bal', 'Buf', 'Car', 'Chi', 'Cin',
       'Cle', 'Dal', 'Den', 'Det', 'GB', 'Hou', 'Ind', 'Jax', 'KC', 'LAR',
       'LARC', 'LARR', 'Mia', 'Min', 'NE', 'NO', 'NYG', 'NYJ', 'Oak', 'Phi',
       'Pit', 'SF', 'Sea', 'TB', 'Ten', 'Was'],
      dtype='object')

In [201]:
dummy_df.reset_index(drop=True, inplace=True)

In [209]:
# FIXES

dummy_df.Bal.iloc[5] = 0
dummy_df.LAR.iloc[5] = 0
dummy_df.Ind.iloc[5] = 1

In [211]:
dummy_df.to_csv('data_dummies_oct14.csv')

In [210]:
dummy_df[ dummy_df['LAR']>0]

,Name,Pos,Teams,Ari,Atl,Bal,Buf,Car,Chi,Cin,...,NYG,NYJ,Oak,Phi,Pit,SF,Sea,TB,Ten,Was
45,Aaron Donald,DT,LAR|LA,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
77,Janoris Jenkins,DB,LAR|NYG,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
84,Lamarcus Joyner,DB,LAR|LA,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
155,Kevin Greene,LB,LAR|Pit|Car|SF|Car,0,0,0,0,1,0,0,...,0,0,0,0,1,1,0,0,0,0
165,Aeneas Williams,DB,Ari|Ari|LAR,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
180,Todd Gurley II,RB,LAR,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
184,Trumaine Johnson,DB,LAR|NYJ,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [147]:
missing_df

                 Name Pos    Teams
0    Odell Beckham Jr   0      NYG
1          Zach Brown   0      Was
2      Todd Gurley II   0      LAR
3     Chris Harris Jr   0      Den
4   Damon Harrison Sr   0  NYJ|NYG
5        Lane Johnson   0      Phi
6    Trumaine Johnson   0  LAR|NYJ
7        Reshad Jones   0      Mia
8      Darius Slay Jr   0      Det
9         Jimmy Smith   0      Bal
10       Telvin Smith   0      Jax
11        Tyron Smith   0      Dal
12    Golden Tate III   0  Sea|Det
13    Earl Thomas III   0      Sea
14     Trent Williams   0      Was

In [138]:
missing_df.head()

                 Name Pos Teams           Name2
21   Odell Beckham Jr   0     0   Odell Beckham
31         Zach Brown   0     0      Zach Brown
66     Todd Gurley II   0     0     Todd Gurley
67    Chris Harris Jr   0     0    Chris Harris
68  Damon Harrison Sr   0     0  Damon Harrison

In [ ]:
df_list2 = []

for _ in temp_list:
    df_list2.append( pd.concat(_) )
    
df = pd.concat(df_list2).reset_index(drop=True)

In [ ]:
set(df['Team'].values)